body {
  background-color: #111111;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  background-position: top;
  z-index: 0;
  scroll-behavior: smooth;
}

.navbar-light {
  margin: 10px;
  z-index: 5;
  position: fixed;
  width: 100%;
}

.navbar-light .navbar-toggler {
  background-color: white;
}

.navbar-light .navbar-nav {
  width: 90px;
  margin-top: 10px;
  -webkit-box-shadow: 0px 0px 2px black;
          box-shadow: 0px 0px 2px black;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
  background-color: #ff0062;
  padding-left: 10px;
}

.navbar-light .navbar-nav .nav-link:hover {
  background-color: white;
}

.navbar-light .navbar-nav .nav-link-blue {
  color: black;
}

.navbar-light .navbar-nav .nav-link-blue:hover {
  background-color: white;
}

.navbar-light .dropdown-menu {
  background-color: white;
  border-radius: 0px;
  padding: 0px;
  width: 250px;
  border: 0px;
  margin-top: 0px;
}

.navbar-light .dropdown-menu .chronoBtn {
  background-color: #bbbbbb;
}

.navbar-light .dropdown-menu .dropdown-item {
  color: black;
}

.navbar-light .dropdown-menu .dropdown-item:hover {
  background-color: #ff0062;
  color: white;
}

.slogan {
  width: 100%;
  padding-top: 250px;
  padding-bottom: 170px;
}

.slogan h1 {
  color: white;
  font-size: 4em;
  text-shadow: 0px 0px 5px black;
  text-align: center;
}

.slogan h3 {
  text-transform: uppercase;
  color: white;
  font-size: 2em;
  text-shadow: 0px 0px 5px black;
  text-align: center;
  border-top: 1px solid white;
  margin-right: 20%;
  margin-left: 20%;
  padding-top: 15px;
}

#divActus {
  padding-top: 80px;
}

.carousel-inner {
  -webkit-box-shadow: 0px 0px 10px black;
          box-shadow: 0px 0px 10px black;
  z-index: 1;
  position: relative;
  padding: 0px;
}

.carousel-inner .carousel-item {
  height: 500px;
}

.carousel-inner .first h5, .carousel-inner .second h5, .carousel-inner .third h5, .carousel-inner .fourth h5, .carousel-inner .fifth h5 {
  margin: 0px;
  padding: 5px;
  background-color: #ff0062;
}

.carousel-inner .first .artDescribe, .carousel-inner .second .artDescribe, .carousel-inner .third .artDescribe, .carousel-inner .fourth .artDescribe, .carousel-inner .fifth .artDescribe {
  padding: 10px;
  background-color: white;
  color: black;
}

.carousel-inner .first .artLink, .carousel-inner .second .artLink, .carousel-inner .third .artLink, .carousel-inner .fourth .artLink, .carousel-inner .fifth .artLink {
  margin-top: 0px;
  color: white;
}

.carousel-inner .first {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), to(black)), url("../img/hitmanhawkebay.jpeg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanhawkebay.jpeg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanhawkebay.jpeg");
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanhawkebay.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.carousel-inner .second {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), to(black)), url("../img/hitmanmiami.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanmiami.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanmiami.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanmiami.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.carousel-inner .third {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), to(black)), url("../img/hitmansanta.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmansanta.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmansanta.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmansanta.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.carousel-inner .fourth {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), to(black)), url("../img/hitmanbombay.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanbombay.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanbombay.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmanbombay.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.carousel-inner .fifth {
  background: -webkit-gradient(linear, left top, left bottom, color-stop(60%, rgba(0, 0, 0, 0)), to(black)), url("../img/hitmancreek.png");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmancreek.png");
  background: -o-linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmancreek.png");
  background: linear-gradient(rgba(0, 0, 0, 0) 60%, black), url("../img/hitmancreek.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
}

.timeline {
  padding: 0px;
  padding-top: 180px;
  z-index: 1;
  position: relative;
  margin-top: 150px;
}

.timeline .row {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.timeline .card {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  background: transparent;
  border-radius: 0px;
  border: 0px;
  width: 130px;
}

.timeline .card .card-header {
  border-radius: 0px;
  border: 0px;
  color: white;
  height: 60px;
  background-color: #ff0062;
  padding: 5px;
}

.timeline .card .card-header p {
  text-align: center;
}

.timeline .card .card-bodyFirst {
  background: url("../img//boxGames/h1box.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  height: 180px;
  width: 130px;
  overflow: hidden;
}

.timeline .card .card-bodySecond {
  background: url("../img//boxGames/h2sabox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 130px;
  overflow: hidden;
}

.timeline .card .card-bodyThird {
  background: url("../img//boxGames/hcbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 130px;
  overflow: hidden;
}

.timeline .card .card-bodyFourth {
  background: url("../img//boxGames/hbmbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 130px;
  overflow: hidden;
}

.timeline .card .card-bodyFifth {
  background: url("../img//boxGames/habox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 130px;
  overflow: hidden;
}

.timeline .card .card-bodySixth {
  background: url("../img//boxGames/hitbox.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 180px;
  width: 130px;
  overflow: hidden;
}

.timeline .card .card-bodySeventh {
  background: url("../img//boxGames/hit2box.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  height: 180px;
  width: 130px;
  overflow: hidden;
  border-radius: 0px;
  border: 0px;
}

.timeline .card .card-footer {
  border-radius: 0px;
  border: 0px;
  color: white;
  height: 40px;
  background-color: #1a1a1a;
  padding: 7px;
}

.timeline .card .card-footer p {
  text-align: center;
}

.hitman1 {
  margin-top: 140px;
  padding-top: 60px;
}

.hitman1 .row {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.hitman1 .row:hover .txtHitman1 h3 {
  cursor: pointer;
  background-color: #ff0062;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman1 .imgHitman1 {
  background: url("https://i.ytimg.com/vi/i6M1RryfCPo/maxresdefault.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman1 .imgHitman1:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.hitman1 .txtHitman1 {
  padding: 0px;
  background-color: white;
}

.hitman1 .txtHitman1 h3 {
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: #292929;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman1 .txtHitman1 p {
  padding: 10px;
  color: black;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.hitman2SA {
  margin-top: 30px;
  padding-top: 60px;
}

.hitman2SA .row {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.hitman2SA .row:hover .txtHitman2S h3 {
  cursor: pointer;
  background-color: #ff0062;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman2SA .imgHitman2S {
  background-image: url("../img/hitman2sa.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman2SA .imgHitman2S:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.hitman2SA .txtHitman2S {
  padding: 0px;
  background-color: white;
}

.hitman2SA .txtHitman2S h3 {
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: #292929;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman2SA .txtHitman2S p {
  padding: 10px;
  color: black;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.hitmanC {
  margin-top: 30px;
  padding-top: 60px;
}

.hitmanC .row {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.hitmanC .row:hover .txtHitmanC h3 {
  cursor: pointer;
  background-color: #ff0062;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanC .imgHitmanC {
  background: url("https://media.senscritique.com/media/000010560015/source_big/Hitman_Contracts.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanC .imgHitmanC:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.hitmanC .txtHitmanC {
  padding: 0px;
  background-color: white;
}

.hitmanC .txtHitmanC h3 {
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: #292929;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanC .txtHitmanC p {
  padding: 10px;
  color: black;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.hitmanBM {
  margin-top: 30px;
  padding-top: 60px;
}

.hitmanBM .row {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.hitmanBM .row:hover .txtHitmanBM h3 {
  cursor: pointer;
  background-color: #ff0062;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanBM .imgHitmanBM {
  background: url("../img/hitmanBM.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanBM .imgHitmanBM:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.hitmanBM .txtHitmanBM {
  padding: 0px;
  background-color: white;
}

.hitmanBM .txtHitmanBM h3 {
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: #292929;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanBM .txtHitmanBM p {
  padding: 10px;
  color: black;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.hitmanA {
  margin-top: 30px;
  padding-top: 60px;
}

.hitmanA .row {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.hitmanA .row:hover .txtHitmanA h3 {
  cursor: pointer;
  background-color: #ff0062;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanA .imgHitmanA {
  background-image: url("http://www.gentlegeek.net/wp-content/uploads/2012/05/hitman-abs-title.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanA .imgHitmanA:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.hitmanA .txtHitmanA {
  padding: 0px;
  background-color: white;
}

.hitmanA .txtHitmanA h3 {
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: #292929;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitmanA .txtHitmanA p {
  padding: 10px;
  color: black;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.hitman {
  margin-top: 30px;
  padding-top: 60px;
}

.hitman .row {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.hitman .row:hover .txtHitman h3 {
  cursor: pointer;
  background-color: #ff0062;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman .imgHitman {
  background-image: url("https://yoannratcliffe.files.wordpress.com/2018/12/hitman-jaquette.jpg?w=1000");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top;
  overflow: hidden;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman .imgHitman:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.hitman .txtHitman {
  padding: 0px;
  background-color: white;
}

.hitman .txtHitman h3 {
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: #292929;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman .txtHitman p {
  padding: 10px;
  color: black;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.hitman2 {
  margin-top: 30px;
  padding-top: 60px;
}

.hitman2 .row {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
}

.hitman2 .row:hover .txtHitman2 h3 {
  cursor: pointer;
  background-color: #ff0062;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman2 .imgHitman2 {
  background: url("../img/hit2wlppr.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 200px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman2 .imgHitman2:hover {
  -webkit-filter: none;
          filter: none;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  cursor: pointer;
}

.hitman2 .txtHitman2 {
  padding: 0px;
  background-color: white;
}

.hitman2 .txtHitman2 h3 {
  padding: 10px;
  margin: 0px;
  text-align: center;
  color: white;
  background-color: #292929;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.hitman2 .txtHitman2 p {
  padding: 10px;
  color: black;
  text-align: justify;
  font-size: 14px;
  line-height: 20px;
}

.forums {
  margin-top: 140px;
  padding-top: 250px;
  padding-bottom: 350px;
}

.forums .row {
  background-color: #20c0ff;
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  height: 100px;
}

.forums .txtForum {
  text-decoration: none;
  line-height: normal;
  margin: auto;
  color: white;
  font-size: 5em;
  text-shadow: 0px 0px 5px black;
}

.forums .txtForum:hover {
  cursor: pointer;
}

.social {
  padding-top: 120px;
  padding-bottom: 100px;
}

.social .row {
  -webkit-box-shadow: 0px 0px 5px black;
          box-shadow: 0px 0px 5px black;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0)), to(black)), url("../img/training.jpg");
  background: -webkit-linear-gradient(rgba(0, 0, 0, 0), black), url("../img/training.jpg");
  background: -o-linear-gradient(rgba(0, 0, 0, 0), black), url("../img/training.jpg");
  background: linear-gradient(rgba(0, 0, 0, 0), black), url("../img/training.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  height: 400px;
}

.social .row i {
  margin: 65px;
  margin-top: 300px;
  color: white;
  text-shadow: 0px 0px 5px black;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social .row i:hover {
  cursor: pointer;
}

.social .row .fa-discord:hover {
  color: #9a5ac5;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social .row .fa-twitch:hover {
  color: #78019c;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social .row .fa-youtube:hover {
  color: #ff1414;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social .row .fa-facebook-square:hover {
  color: #4173b4;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social .row .fa-twitter:hover {
  color: #25afff;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.social .row .fa-reddit-alien:hover {
  color: #ff5100;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.footer {
  margin-top: 350px;
  background-color: black;
  color: white;
}

.footer .platformlogo {
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.footer .platformlogo a img {
  width: 150px;
  height: 150px;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.footer .platformlogo a img:hover {
  cursor: pointer;
}

.footer .textBlock {
  margin-left: 50px;
  margin-right: 50px;
}

.footer .textBlock p {
  font-size: 12px;
}

.footer .warnerBros {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .warnerBros img {
  width: 50px;
  height: 50px;
}

.footer .warnerBros p {
  font-size: 10px;
  padding: 10px;
}

.footer .confUtil {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 10px;
}

.footer .confUtil a {
  padding-right: 30px;
  padding-left: 30px;
  color: #002fff;
  font-size: 15px;
}

.footer .confUtil a:hover {
  text-decoration: none;
  color: #5675ff;
}

@media screen and (max-width: 360px) {
  body {
    background-size: contain;
    background-position: top;
  }
}

@media (max-width: 575.98px) {
  .slogan {
    padding-top: 200px;
    padding-bottom: 200px;
  }
  .slogan h1 {
    font-size: 2em;
  }
  .slogan h3 {
    font-size: 1em;
  }
  #divActus {
    padding-top: 40px;
  }
  .timeline {
    padding-top: 80px;
  }
  .timeline .card {
    font-size: 14px;
    -webkit-box-shadow: 0px 0px 0px black;
            box-shadow: 0px 0px 0px black;
    padding: 10px;
  }
  .timeline .card .card-header {
    height: 45px;
    padding: 0px;
  }
  .timeline .card .card-bodyFirst {
    height: 160px;
    width: 110px;
  }
  .timeline .card .card-bodySecond {
    height: 160px;
    width: 110px;
  }
  .timeline .card .card-bodyThird {
    height: 160px;
    width: 110px;
  }
  .timeline .card .card-bodyFourth {
    height: 160px;
    width: 110px;
  }
  .timeline .card .card-bodyFifth {
    height: 160px;
    width: 110px;
  }
  .timeline .card .card-bodySixth {
    height: 160px;
    width: 110px;
  }
  .timeline .card .card-bodySeventh {
    height: 160px;
    width: 110px;
  }
  .timeline .card .card-footer {
    height: 25px;
    padding: 0px;
  }
}
